@use './variables' as *;
@use './mixins' as *;

.about {

    h3 {
        @include font(1.5rem, 1.5rem, $primary-font-colour, none, 800);
        letter-spacing: 1px;
        margin: 20px 0;
    }

    h4 {
        @include font(1.2rem, 1.2rem, $primary-font-colour, none, 600);
        margin: 20px 0;
    }

    p {
        @include font(0.9rem, 1.25rem);
    }

    img {
        margin-bottom: 10px;
    }

    img.low {
        border: 20px ridge $low-intensity;
    }

    img.medium {
        border: 20px ridge $medium-intensity;
    }

    img.high {
        border: 20px ridge $high-intensity;
    }
}