@use "./variables" as *;
@use "./mixins" as *;

footer {
    @include font(0.8rem, 1rem, $primary-font-colour, uppercase, 600);
    height: 5vh;
    padding: 5px 0;
    background: $accent-colour;
    text-align: center;

    a {
        color: $primary-font-colour;
    }
}

.juno {
    @include font(0.7rem, 1rem, $primary-font-colour, none, 600);
}