@use "./variables" as *;
@use "./mixins" as *;


footer {
  height: 80vh;
  background: #005772a4;

}

.footer-container {
  display: flex;
  padding: 15px;
}

.ecs-foot {
  width: 60px;
  height: 60px;

}

.credits {
  @include font(0.8rem, 1rem, $secondary-font-colour, uppercase, 600);
  height: 50px;
  padding: 5px 0;
  background: $accent-colour;
  text-align: center;

  a {
    color: $secondary-font-colour;
  }
}

.juno {
  @include font(0.7rem, 1rem, $secondary-font-colour, none, 600);
}
