@use "./variables" as *;
@use "./mixins" as *;

html {
    font-size: 20px;
    height: 100%;
}

body {
    @include font();
    font-family: $font-stack;
}

.app {
    @include flex(column, space-between, stretch);
    max-width: 2400px;
    width: 100%;
}

ul, li, a, h1, h2, p, button {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button {
    @include font();
    font-family: $font-stack;
}
