@use "./variables" as *;
@use "./mixins" as *;

header {
    @include flex();
    height: 75px;
    text-align: center;
    background-color: $accent-colour;
}

.logo {
    width: 20%;

    img {
        width: 200px;
        padding: 20px;
    }
}


