@use './variables' as *;
@use './mixins' as *;

header {
	@include flex();
	height: 75px;
	background-color: $accent-colour;
}

.logo {
	width: 180px;
	padding: 20px;

	img {
		width: 180px;
	}
}

.header-nav {
	@include flex(row, flex-end);
	width: calc(100% - 180px);

	button {
		cursor: pointer;
		background: transparent;
		transition: box-shadow 0.1s;
		flex-shrink: 0;
		margin-right: 10px;

		&:hover,
		&:focus-visible {
			box-shadow: 0 0 5px;
		}
	}

	img {
		width: 50px;
		height: 50px;
		padding: 5px;
	}
}
