@use "./variables" as *;
@use "./mixins" as *;

main {
    @include flex(row, space-between, stretch);
    position: relative;
    height: calc(100vh - 125px);
}

.sidebar {
    width: 320px;
    background-color: $sidebar-background;
    padding: 20px;
    overflow: hidden auto;

    h2 {
        @include font(1.5rem, 1.5rem, $primary-font-colour, none, 800);
        margin-bottom: 10px;
    }
}

.event-list {
    padding: 10px 0;
}

.event {
    @include flex();
    padding: 10px 0;
    border-top: 1px solid;
}

.magnitude {
    @include font(0.9rem, 0.9rem, $primary-font-colour, none, 800);
    width: 15%;
    margin-right: 6px;
}

.event-details {
    @include font(0.8rem, 1rem, $primary-font-colour, none, 600);
    width: 85%;
}

p.time {
    @include font(0.8rem, 1rem, $primary-font-colour, none, 400);
    margin-top: 5px;
}

.map-container {
    width: calc(100% - 320px);
    @include flex(column, space-between, stretch);
}
.full-width {
    width: calc(100% - 0px);
}

.map {
    height: calc(100vh - 125px);
}

.legend {
    @include flex(column, space-between, flex-start);
    position: absolute;
    right: 0;
    bottom: 21px;
    z-index: 400;
    width: 281px;
    padding: 20px 10px;
    background: $legend-background;

    li {
        @include flex(row, flex-start);
        margin: 5px 0;
    }
}

.legend-dot {
    @include flex(row, center, center);
    font-weight: 800;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 20px;
    flex-shrink: 0;
}

.low {
    background: $low-intensity;
}

.medium {
    background: $medium-intensity;
}

.high {
    background: $high-intensity;
}

.severe {
    background: $severe-intensity;
}

.legend-text {
    @include font(0.8rem, 1rem, $primary-font-colour, none, 600);
}
