

@use './variables' as *;
@use './mixins' as *;


main {
    @include flex(row, space-between, stretch);
    position: relative;
    height: calc(100vh - 125px);
}


.sidebar {
    width: 320px;
    background-color: $sidebar-background;
    padding: 20px;
    overflow: hidden auto;


    h1 {
        @include font(1.5rem, 1.5rem, $primary-font-colour, none, 800);
        margin-bottom: 10px;
    }
}

.event-list {
    padding: 10px 0;
}

.event {
    @include font(0.8rem, 1rem, $primary-font-colour, none, 400);
    @include flex();
    padding: 10px 0;
    border-top: 1px solid;
    border-top: 2px solid rgba(128, 128, 128, 0.241);
}


.magnitude {
    @include font(0.9rem, 0.9rem, $primary-font-colour, none, 800);
    width: 15%;
    margin-right: 6px;
}


.event-details {
    @include font(0.8rem, 1rem, $primary-font-colour, none, 600);
    width: 85%;
}

p.time {
    @include font(0.8rem, 1rem, $primary-font-colour, none, 400);
    margin-top: 5px;

}


.map-container {
    width: calc(100% - 320px);
    @include flex(column, space-between, stretch);
}


.map {
    height: calc(100vh - 125px);
}


.legend {
    @include flex(row, center, center);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 400;
    width: calc(100% - 320px);
    padding: 20px 10px;
    background: $legend-background;
}

.legend-dot {
    @include flex(row, center, center);
    font-weight: 800;
    width: 200px;
    height: 80px;
    border-radius: 20px;
    margin-right: 30px;
    flex-shrink: 0;
}

.legend-text {
    @include flex(column, center, flex-start);
}


.low {
    background: $low-intensity;
}


.medium {
    background: $medium-intensity;
}


.high {
    background: $high-intensity;
}


.severe {
    background: $severe-intensity;
}


.legend-text {
    @include font(0.8rem, 1rem, $primary-font-colour, none, 600);
}

