@use './variables' as *;
@use './mixins' as *;

main {
	@include flex(row, space-between, stretch);
	position: relative;
	height: calc(100vh - 125px);
}

.sidebar {
	position: absolute;
	width: 420px;
	height: calc(100vh - 125px);
	background-color: $sidebar-background;
	padding: 20px;
	z-index: 1500;
	overflow: hidden auto;
	border-right: 2px solid $accent-colour;

	h1 {
		@include font(1.75rem, 1.75rem, $primary-font-colour, none, 800);
		margin-bottom: 10px;
	}

	h2 {
		@include font(1.25rem, 1.25rem, $primary-font-colour, none, 600);
		margin-bottom: 10px;
	}
}

.legend-btn {
	@include flex();
	width: 100%;
	margin-bottom: 5px;
	border-radius: 10px;

	&:hover {
		cursor: pointer;
		outline: 2px solid white;
	}

	p {
		padding: 5px 20px 5px 0;
	}
}

.legend-image-container {
	width: 100px;
	flex-shrink: 0;
}

.magnitude-list {
	padding: 10px 0;
}

.transition-enter {
	opacity: 0.01;
	transform: translate(0, -10px);
}

.transition-enter-active {
	opacity: 1;
	transform: translate(0, -10px);
	transition: all 300ms ease-in;
}

.transition-exit {
	opacity: 1;
	transform: translate(0, 0);
}

.transition-exit-active {
	opacity: 0.01;
	transform: translate(0, 10px);
	transition: all 300ms ease-in;
}

.event {
	@include font(0.8rem, 1rem, $primary-font-colour, none, 400);
	@include flex();
	padding: 10px 0;
	border-top: 2px solid $event-border;

	&:first-child {
		border-top: none;
		padding-top: 0;
	}
}

.magnitude {
	@include font(0.9rem, 0.9rem, $primary-font-colour, none, 800);
	width: 15%;
	margin-right: 6px;
}

.event-details {
	@include font(0.8rem, 1rem, $primary-font-colour, none, 600);
	width: 85%;
}

p.time {
	@include font(0.8rem, 1rem, $primary-font-colour, none, 400);
	margin-top: 5px;
}

.map-container {
	width: 100%;
	@include flex(column, space-between, stretch);
}

.map {
	height: calc(100vh - 125px);
}

.legend-dot {
	@include flex(row, center, center);
	font-weight: 800;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	margin-right: 20px;
	flex-shrink: 0;
}

// dynamically styled inline instead - GJ

// .low {
// 	background: $low-intensity;
// }

// .medium {
// 	background: $medium-intensity;
// }

// .high {
// 	background: $high-intensity;
// }

// .severe {
// 	background: $severe-intensity;
// }

.legend-text {
	@include font(0.8rem, 1rem, $primary-font-colour, none, 600);
	width: 100%;
}

@media (max-width: 720px) {
	.sidebar {
		width: 100%;
	}
}

@media (max-width: 550px) {
	.magnitude {
		// @include font(0.9rem, 0.9rem, $primary-font-colour, none, 800);
		// width: 15%;
		margin-right: 10px;
	}
}
