$accent-colour: #008bb4;
$primary-font-colour: #000000;
$legend-background: #00a9ae;
$sidebar-background: #f6f6f6;
$popup-background: #ffffff;
$low-intensity: #fddd59;
$medium-intensity: #ff914d;
$high-intensity: #ff3131;
$severe-intensity: #a51b1b;
