$accent-colour: #005772;
$primary-font-colour: #000000;
$secondary-font-colour: #ffffff;
$legend-background: #dddddd95;
$sidebar-background: #dddddd;
$popup-background: #ffffff;
$low-intensity: #fddd59;
$medium-intensity: #ff914d;
$high-intensity: #ff3131;
$severe-intensity: #a51b1b;
$font-stack: "Noto Sans", sans-serif;
